<h1>London Restaurant</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>


<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>


 <li class="list-group-item">
      <%= link_to "Remove",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
